
.time{
    /* border: 1px solid black; */
    height: 180px;
    text-align: center;
    font-size: 100px;
    font-family:'Orbitron';
}

h1{
    text-align: center;
    font-size: 50px;
}

#date{
    /* border: 1px solid black; */
    height: 80px;
    text-align: center;
    font-size: 50px;
    font-family: "Allerta Stencil", Sans-serif;
}